schemas/4.0.0/xjustiz_3510_cl_klaver_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="1.1.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>4.0.0</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>3.0.2</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.2</versionXOEVHandbuch>
            <versionXGenerator>3.2.3</versionXGenerator>
            <versionModellierungswerkzeug>2021x</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.KLAVER.AUKO.Anlass.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.AUKO.Anlass</nameLang>
               <nameKurz>KLAVER.AUKO.Anlass</nameKurz>
               <nameTechnisch>klaver.auko.anlass</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.auko.anlass</kennung>
               <beschreibung>Diese Codeliste enthält Werte, die die Anliegen für Nachrichten der außergerichtlichen Kommunikation beschreiben.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.auko.anlass"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.Anspruchsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.Anspruchsart</nameLang>
               <nameKurz>KLAVER.Anspruchsart</nameKurz>
               <nameTechnisch>klaver.anspruchsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.anspruchsart</kennung>
               <beschreibung>Diese Codeliste enthält Anspruchsarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.anspruchsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.Antrag.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.Antrag</nameLang>
               <nameKurz>KLAVER.Antrag</nameKurz>
               <nameTechnisch>klaver.antrag</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.antrag</kennung>
               <beschreibung>Diese Codeliste enthält Antragsarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.antrag"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.FGR.Anspruchshoehe.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER..FGR.Anspruchshöhe</nameLang>
               <nameKurz>KLAVER..FGR.Anspruchshöhe</nameKurz>
               <nameTechnisch>klaver.fgr.anspruchshoehe</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.fgr.anspruchshoehe</kennung>
               <beschreibung>Diese Codeliste enthält Anspruchssarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.fgr.anspruchshoehe"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.KFV.Anlass.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.Anlass</nameLang>
               <nameKurz>KLAVER.Anlass</nameKurz>
               <nameTechnisch>klaver.anlass</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.anlass</kennung>
               <beschreibung>Diese Codeliste enthält Anlassarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.anlass"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.KFV.Kostentatbestand.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.KFV.Kostentatbestand</nameLang>
               <nameKurz>KLAVER.KFV.Kostentatbestand</nameKurz>
               <nameTechnisch>klaver.kfv.kostentatbestand</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.kfv.kostentatbestand</kennung>
               <beschreibung>Diese Codeliste enthält Kostentatbestandsarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.kfv.kostentatbestand"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.KSCHK.BesondererKuendigungsschutz.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.KSCHK.BesondererKuendigungsschutz</nameLang>
               <nameKurz>KLAVER.KSCHK.BesondererKuendigungsschutz</nameKurz>
               <nameTechnisch>klaver.kschk.besondererkuendigungsschutz</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.kschk.besondererkuendigungsschutz</kennung>
               <beschreibung>In dieser Codeliste sind Werte die einen besonderen Kündigungsschutz begründen aufgeführt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.kschk.besondererkuendigungsschutz"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.KSCHK.Kuendigungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.KSCHK.Kuendigungsart</nameLang>
               <nameKurz>KLAVER.KSCHK.Kuendigungsart</nameKurz>
               <nameTechnisch>klaver.kschk.kuendigungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.kschk.kuendigungsart</kennung>
               <beschreibung>Diese Codeliste enthält Werte der unterschiedlichen Arten der Kündigung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.kschk.kuendigungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.KLAVER.KSCHK.Kuendigungsgrund.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>KLAVER.KSCHK.Kuendigungsgrund</nameLang>
               <nameKurz>KLAVER.KSCHK.Kuendigungsgrund</nameKurz>
               <nameTechnisch>klaver.kschk.kuendigungsgrund</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:klaver.kschk.kuendigungsgrund</kennung>
               <beschreibung>Diese Codeliste enthält Gründe für eine arbeitsrechtliche Kündigung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:klaver.kschk.kuendigungsgrund"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
